/****
 *  
 *  news.less
 *  =========================================================================== 
 *
 *  styles for news articles
 *
 *  classes with the prefix G_ are public styles, designed to be used by marketing to style or position their content
 *  other classes are "internal" styles, used by the templates for scaffolding or standard formatting
 *
 *  note
 *  
 *  
 * 
 ****/
.tileContent .newsArticleSummaryList {
  margin-top: 5px;
}
.tileContent .newsArticleSummaryList a {
  padding: 4px 10px 1px 20px;
}
.tileContent .newsArticleSummaryList .precis {
  padding: 4px 0px 5px 20px;
  line-height: 1.0em;
}
