.BG_GAMGreen100 {
  background-color: #006666;
}
.BG_GAMGreen060 {
  background-color: #66a3a3;
}
.BG_GAMGreen030 {
  background-color: #b2d1d1;
}
.BG_GAMBlue100 {
  background-color: #5e92d8;
}
.BG_GAMBlue060 {
  background-color: #9ebee8;
}
.BG_GAMBlue030 {
  background-color: #cfdef3;
}
.BG_GAMGrey100 {
  background-color: #8d8682;
}
.BG_GAMGrey060 {
  background-color: #bbb6b4;
}
.BG_GAMGrey030 {
  background-color: #dddbd9;
}
.BG_GAMMustard100 {
  background-color: #be9045;
}
.BG_GAMMustard060 {
  background-color: #d8bc8f;
}
.BG_GAMMustard030 {
  background-color: #ebdec7;
}
.BG_GAMOlive100 {
  background-color: #718246;
}
.BG_GAMOlive060 {
  background-color: #aab490;
}
.BG_GAMOlive030 {
  background-color: #d4d9c7;
}
.BG_GAMRubine100 {
  background-color: #bc529b;
}
.BG_GAMRubine060 {
  background-color: #d797c3;
}
.BG_GAMRubine030 {
  background-color: #ebcbe1;
}
.BG_GAMOrange100 {
  background-color: #d06351;
}
.BG_GAMOrange060 {
  background-color: #e3a197;
}
.BG_GAMOrange030 {
  background-color: #f1d0cb;
}
.BG_GAMGold100 {
  background-color: #bcac48;
}
.BG_GAMGold060 {
  background-color: #d7cd91;
}
.BG_GAMGold030 {
  background-color: #ebe6c8;
}
.BG_GAMPurple100 {
  background-color: #795894;
}
.BG_GAMPurple060 {
  background-color: #af9bbf;
}
.BG_GAMPurple030 {
  background-color: #d7cddf;
}
.BG_GAMAqua100 {
  background-color: #00a78b;
}
.BG_GAMAqua060 {
  background-color: #c0cab9;
}
.BG_GAMAqua030 {
  background-color: #b2e5dc;
}
