@inherits umbraco.MacroEngines.DynamicNodeContext

<div class="selectManagerPanel clearfix">
    <div class="selectManagerTitle">Select a manager:</div>
    <div class="selectManagerOption">
        <select class="managerName">
            <option value=""> </option>
			<option value="">Adrian Owens</option>
            <option value="">Andrew C Green</option>
            <option value="">Ben Williams</option>
            <option value="">David Smith</option>
            <option value="">Michael Lai</option>
        </select>
        <a href="#" class="G_Highlight go">Go</a>
    </div>
</div>
			
                    
