@inherits umbraco.MacroEngines.DynamicNodeContext

<div class="selectManagerPanel clearfix">
    <div class="selectManagerTitle">Select a manager:</div>
    <div class="selectManagerOption">
        <select id="managerFundsName">
            <option value="1"> </option>
            <option value="2">Adrian Owens</option>
            <option value="3">Andrew C Green</option>
            <option value="4">Ben Williams</option>
            <option value="5">David Smith</option>
            <option value="6">Michael Lai</option>
        </select>
        <a  id="managerFundsSubmitButton" href="#" class="G_Highlight smallButton" onclick="return gam.umbraco.client.services.manager.funds();">Go</a>
    </div>
</div>
<div id="managerFundsServiceResult"></div>


			
                    
