<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
<!DOCTYPE html>
<!--[if IE]><html class="ie"><![endif]-->	
<html lang="en">
<head>

    <meta charset="utf-8">
    <title></title>
</head>

<body>
	
	<umbraco:Macro languagePreference="EN" Alias="RootRedirector" runat="server"></umbraco:Macro>

</body>
</html>

</asp:Content>