/****
 *  
 *  contacts.css
 *  =========================================================================== 
 *
 *  a contact represents a self-contained, highly structured block of html
 *  that is populated via a template and composed into regular html
 *
 *  for formatting purposes, it should be treated as an image, 
 *  bounded by the dimensions of the outer .contact article
 *
 *  the contact template is as follows
 *
 *  <article class="contact">
 *    <div class="thumb">
 *      <img src="/media/1133/lamb.jpg" alt="Matthew Lamb">
 *     </div>
 *     <div class="text">
 *       <span class="name">Matthew Lamb</span>
 *       <span class="title">Head of Institutional and Fund Distribution</span>
 *       [<span class="tel">Tel:  020 7393 8724</span>]
 *       [<span class="tel">Moble:  07958 111 222</span>]
 *       <a class="email" title="Matthew Lamb" href="mailto:matthew.lamb@gam.com?subject=Query from GAM Star Dynamic Global Bond microsite">matthew.lamb@gam.com</a>
 *     </div>
 *  </article>
 *
 ****/
article.contact {
  width: 260px;
  height: 100px;
  margin: 0 0 25px 0;
  padding: 0;
  overflow: hidden;
  color: #5e5e6f;
  font-size: 12px;
}
article.contact div.thumb {
  float: left;
  width: 60px;
  margin-right: 15px;
}
article.contact div.text {
  float: left;
  width: 185px;
  line-height: normal;
}
article.contact span,
article.contact a {
  display: block;
}
article.contact span.name {
  font-size: 16px;
  font-weight: bold;
}
article.contact span.title {
  line-height: normal;
  margin-bottom: 8px;
}
article.contact span.tel,
article.contact span.mobile {
  line-height: 16px;
}
article.contact a.email {
  display: block;
  line-height: 12px;
  color: #006666;
  text-decoration: none;
}
article.contact a.email:hover {
  text-decoration: underline;
}
